<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр данных</title>
</head>
<style>
    table {
        margin: 0 auto;
        padding: 0;
        border: 3px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 3px;
        border: 1px solid black;
    }
    form {
        display: block;
        margin: 0 auto;
    }
</style>
<body>
<div style="margin: 0 auto">
    <h1 style="text-align: center">Список учтенных справок</h1>
    <form style="margin-left: 20%" th:action="@{/}" th:object="${newRecord}" th:method="post">
        <h3 style="color: red;" th:if="${#fields.hasAnyErrors()}">Ошибка ввода данных</h3>
        <label for="initiator">ФИО, отдел инициатора справки</label>
        <input id="initiator" type="text" th:field="*{initiator}">
        <label for="date">Дата</label>
        <input id="date" type="date" th:field="*{date}">
        <label for="duty">ФИО поставившего на учет</label>
        <select id="duty" th:field="*{duty}">
            <option value="Соколов И.А." th:text="'Соколов И.А.'"></option>
            <option value="Широбоков К.Д." th:text="'Широбоков К.Д.'"></option>
            <option value="Ануфриев С.Н." th:text="'Ануфриев С.Н.'"></option>
            <option value="Якименко Н.И." th:text="'Якименко Н.И.'"></option>
            <option value="Балакин А.А." th:text="'Балакин А.А.'"></option>
            <option value="Сорокин С.В." th:text="'Сорокин С.В.'"></option>
            <option value="Винокуроов С.А." th:text="'Винокуроов С.А.'"></option>
        </select>
        <button type="submit">Добавить</button>
    </form>
</div>
<div>
    <table style="text-align: center">
        <thead>
        <tr>
            <th>
                Порядковый номер
            </th>
            <th>
                ФИО, отдел инициатора справки
            </th>
            <th>
                Дата
            </th>
            <th>
                Фамилия, инициалы поставившего на учет
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${records}">
            <td th:text="${record.getId()}"></td>
            <td th:text="${record.getInitiator()}"></td>
            <td th:text="${record.getDate()}"></td>
            <td th:text="${record.getDuty()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>